<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ request.tenant }} Employees</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }
    </style>
</head>
<body>
    <h1>{{ request.tenant }} Products</h1>
    <ul>
        {% for product in products %}
        <li>{{ product.product_name }}</li>
        <li>{{product.description}}</li>
        <li>{{product.price}}</li>
        {% endfor %}
    </ul>

    <form method="POST" action="/create_product">
        {% csrf_token %}
        <input type="text" name="product_name" placeholder="Add new Product" />
        <input type="text" name="description" placeholder="Describe the product">
        <input type="number" name="price" placeholder="Price">
        <button>Submit</button>
    </form>
</body>
</html>
